html {
    background: #2D3142;
    color: #6c4d08;
}

.header {
    background-image: url("header.jpg");
    text-align: center;
    padding: 20px;
  }

  /* The navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .navbar a:hover {
    background-color: cyan;
    color: black;
  }

  .videos {
      float: left;

  }

  .videos {
      float: right;
  }

img {
  -webkit-filter: invert(.8);
  filter: invert(.8);
}

  contact {
    background: white;
  }

  p {
    background: orange;
    font-family: cursive;
    color: black;
    margin-right: 25%;
    margin-left: 25%;
    text-indent: 50px;
    font-size: x-large;
    
    }

    p::first-letter {
      font-size: 1.5em;
    }

    .c1 {
      color: yellow;
      text-indent: 10%;
    }

    .c2 {
      color: red;
      text-indent: 15%;
    }
    
    .c3 {
      color: purple;
      text-indent: 20%;
    }

    .c4 {
      color: green;
      text-indent: 25%;
    }

    .backwards + .forwards {
      background-color: yellow;
    }

    .flexcon {
      display: flex;
      flex-direction: row;
      background-color: blueviolet;
    }
    
      .flexcon * {
        background-color: #f1f1f1;
        padding: 100px;
        margin: 10px;
        border-style: solid;
        flex-grow: 1 ;
    }

      .flexcon div:nth-child(4) {
        border: 10px dotted black;
      }

      .flexcon div:active {
        background-color: orange;
      }

      .flexcon > *:hover {
        background-color: green;
      }
     
      .flexcon *:nth-child(2):hover {
        background-color: red;
      }

      .flexcon *:nth-child(2):active {
        background-color: yellow;
      }

      .flexcon :visited {
        background-color: yellow;
      }

      .flexcon :link {
       background-color: cyan;
      }

      .flexcon2 {
        display: flex;
        flex-direction: row;
        background-color: blueviolet;
      }
      
        .flexcon2 * {
          background-color: #f1f1f1;
          padding: 100px;
          margin: 10px;
          border-style: solid;
          flex-grow: 1 ;

      }

.blacksheep {
  background-color: black;
}

.blacksheep ~ div {
  background-color: lightgrey;
}

.blacksheep + div {
  background-color: darkgrey;
}
